<footer class="flex justify-center text-center py-5 bg-gradient-to-b from-white to-gray-platinum rounded-b-md">
  <p class="text-[10px] font-lucida">
		WordPress Default is proudly powered by
		<a class="text-blue-french hover:text-blue-maritime hover:underline" href="http://wordpress.org/" target="_blank">WordPress</a>
		<br><a class="text-blue-french hover:text-blue-maritime hover:underline" href="https://wp-themes.com/default/?feed=rss2">Entries (RSS)</a>
		and <a class="text-blue-french hover:text-blue-maritime hover:underline" href="https://wp-themes.com/default/?feed=comments-rss2">Comments (RSS)</a>.
	</p>
</footer>