---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts"
---

<header
  class="bg-gradient-to-b from-blue-malibu to-blue-warmspring m-3 h-44 rounded-md flex items-center flex-col justify-center"
>
  <h1 class="text-[40px] text-white font-bold font-trebuchet">
    {SITE_TITLE}
  </h1>
  <p class="text-xs text-white font-lucida">{SITE_DESCRIPTION}</p>
</header>
