---
import { sortPostsDate } from "@/lib/utils"
import { getCollection } from "astro:content"

const posts = await getCollection("blog")
const sortedPosts = sortPostsDate(posts)

interface Props {
  slug: string
}

// TODO: improve this pagination to avoid showind the next post in the last post and the previous post in the first post

const { slug } = Astro.props

const cleanSlug = slug.replace("/", "")

const currentIndex = sortedPosts.findIndex(post => cleanSlug === post.slug)

const nextPost = posts[currentIndex + 1]
const prevPost = posts[currentIndex - 1]
---

<aside class="flex justify-between">
  {
    nextPost && (
      <div>
        <span class="text-gray-lucky text-[0.75rem]">&laquo;</span>
        <a
          href={`/${nextPost.slug}/`}
          class="text-blue-french hover:text-blue-maritime hover:underline font-lucida text-xs"
        >
          {nextPost.data.title}
        </a>
      </div>
    )
  }
  {
    prevPost && (
      <div>
        <a
          href={`/${prevPost.slug}/`}
          class="text-blue-french hover:text-blue-maritime hover:underline font-lucida text-xs"
        >
          {prevPost.data.title}
        </a>
        <span class="text-gray-lucky text-[0.75rem]">&raquo;</span>
      </div>
    )
  }
</aside>
