---
import { sortPostsDate } from "@/lib/utils"
import { getCollection } from "astro:content"

const posts = await getCollection("blog")
const sortedPosts = sortPostsDate(posts)

interface Props {
  slug: string
}

const { slug } = Astro.props

const cleanSlug = slug.replace("/", "")

const currentIndex = sortedPosts.findIndex(post => cleanSlug === post.slug)

const nextPost = currentIndex < sortedPosts.length - 1 ? sortedPosts[currentIndex + 1] : null
const prevPost = currentIndex > 0 ? sortedPosts[currentIndex - 1] : null
---
<div class="flex flex-row gap-x-4 w-full">
  {
    nextPost && (
      <div class="grow text-left">
        <span class="text-gray-lucky text-[0.75rem]">&laquo;</span>
        <a
          href={`/${nextPost.slug}/`}
          class="text-left grow text-blue-french hover:text-blue-maritime hover:underline font-lucida text-xs"
        >
          {nextPost.data.title}
        </a>
      </div>
    )
  }
  {
    prevPost && (
      <div class="grow text-right">
        <a
          href={`/${prevPost.slug}/`}
          class=" text-blue-french hover:text-blue-maritime hover:underline font-lucida text-xs"
        >
          {prevPost.data.title}
        </a>
        <span class="text-gray-lucky text-[0.75rem]">&raquo;</span>
      </div>
    )
  }
</div>
