---
import Footer from "@/components/footer.astro"
import Header from "@/components/header.astro"
import Metadata from "@/components/metadata.astro"

import { ViewTransitions } from "astro:transitions"

interface Props {
  author: string
  description: string
  title: string
  slug?: string
}

const { author, description, slug, title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Metadata
      author={author}
      title={title}
      description={description}
      slug={slug}
    />
    <ViewTransitions />
  </head>
  <body class="bg-gray-placebo">
    <div class="container flex flex-col min-h-screen">
      <div class="rounded-lg border border-gray-colossus shadow-lg bg-white my-6">
        <Header />
        <div class="flex gap-x-10 mx-5 mt-7">
          <main class="w-[30rem]">
            <slot name="posts" />
          </main>
          <aside class="w-48">
            <slot name="aside" />
          </aside>
        </div>
        <Footer />
      </div>
    </div>
  </body>
</html>
